* {
    background-color: #ECDFCC;
}

.container-principal {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

.titulo-principal {
    color: #2C3930;
}

.container-lista-input {
    margin-bottom: 2rem;
}

.lista-input {
    background-color: #FCFAEE;
    border: none;
    border-radius: 20px;
    width: 10vw;
    padding: 10px 15px;
    margin-right: 10px;
    height: 2vh;
}

.btn-adicionar-tarefa,
.btn-remover-tarefa {
    padding: 8px 12px;
    cursor: pointer;
}

.btn-adicionar-tarefa {
    background-color: #A5B68D;
    border-color: #A5B68D;
    border-radius: 20px;
    color: #fff;
}

.btn-adicionar-tarefa:hover {
    background-color: #7d8b68;    
}

.btn-remover-tarefa {
    background: none;
    border: none;
    border-radius: 50%;
}

.btn-remover-tarefa .btn-remover-tarefa__icon {
    background-color: transparent;
    font-size: 1.8rem;
    color: #b96f4a;
}

.btn-remover-tarefa:hover {
    background-color: #b96f4a;      
}

.lista-tarefas {
    list-style: none;
    padding: 0;
}

.lista-tarefas .lista-tarefas__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFAEE;
    color: #2C3930;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #A5B68D;
}